# Importando os pacotes

In [28]:
# Working with n-dimensional arrays
import numpy as np

# Creation of tables and data organization in visually effective way. Can handle time series and databases
import pandas as pd
import pandas_datareader as wb

# 2D graphics of pandas treated data
import matplotlib

# Mathematical functions
import math

# Generate random numbers
import random

# Descriptive statistics, graphs and regression
import statsmodels

# Importanto os tickers das empresas desejadas e datas inicial/final do registro histórico (Fonte de dados: Yahoo Finance)

In [29]:
start_date = '2019-01-03'    # format: aaaa/mm/dd/
end_date = ''                # format: aaaa/mm/dd/
EMBR3 = wb.DataReader('EMBR3.SA', data_source='yahoo', start=start_date)
EMBR3.head(10)
# Finais de semana e feriados não incluídos nos registros de valores das ações

                 High        Low       Open      Close      Volume  Adj Close
Date
2019-01-03  21.900000  21.180000  21.500000  21.900000   3162300.0  21.900000
2019-01-04  21.809999  20.610001  21.750000  20.799999   5962700.0  20.799999
2019-01-07  21.230000  20.549999  20.840000  21.230000   3144900.0  21.230000
2019-01-08  21.480000  21.030001  21.320000  21.360001   2524800.0  21.360001
2019-01-09  21.500000  21.059999  21.420000  21.280001   2944900.0  21.280001
2019-01-10  21.330000  20.930000  21.200001  20.990000   2730300.0  20.990000
2019-01-11  23.090000  21.510000  22.750000  21.530001  18529000.0  21.530001
2019-01-14  21.940001  21.420000  21.700001  21.620001   4885300.0  21.620001
2019-01-15  21.799999  21.510000  21.790001  21.760000   3359000.0  21.760000
2019-01-16  21.719999  20.510000  21.690001  21.500000  12620600.0  21.500000

In [30]:
# Verificação da quantidade de registros, tipos de números, quantidade de colunas no DataFrame
EMBR3.info()
EMBR3.tail(10)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 539 entries, 2019-01-03 to 2021-03-12
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       539 non-null    float64
 1   Low        539 non-null    float64
 2   Open       539 non-null    float64
 3   Close      539 non-null    float64
 4   Volume     539 non-null    float64
 5   Adj Close  539 non-null    float64
dtypes: float64(6)
memory usage: 29.5 KB

             High    Low   Open  Close      Volume  Adj Close
Date
2021-03-01  12.70  12.15  12.53  12.21  14282400.0      12.21
2021-03-02  12.56  11.49  12.13  12.42  16942600.0      12.42
2021-03-03  12.56  11.96  12.35  12.43  18422000.0      12.43
2021-03-04  12.94  12.15  12.50  12.40  18129600.0      12.40
2021-03-05  12.89  11.94  12.45  12.82  17275100.0      12.82
2021-03-08  13.10  12.14  12.59  12.23  15305200.0      12.23
2021-03-09  12.53  12.00  12.21  12.34  12879700.0      12.34
2021-03-10  13.82  12.24  12.38  13.82  22790700.0      13.82
2021-03-11  13.93  13.40  13.84  13.74  17259300.0      13.74
2021-03-12  14.52  13.67  13.69  14.40  20211700.0      14.40

In [34]:
tickers = ['EMBR3.SA','AZUL4.SA','MGLU3.SA','PETR4.SA','IRBR3.SA']
start_date = '2019-01-01'    # format: aaaa/mm/dd/
end_date = ''                # format: aaaa/mm/dd/

new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = wb.DataReader(t, data_source = 'yahoo', start = start_date)['Adj Close']
    
# Finais de semana e feriados não incluídos nos registros de valores das ações
# Salvando os valores obtidos do Yahoo para um arquivo .csv
new_data.to_csv("C:/Users/Vitor Balbuglio/Documents/GitHub/PythonForFinance/Tickers.csv")

In [35]:
# Colocando a data como índice de um arquivo importado .csv. Nesse caso a data já era o índice do DataFrame.
mydata = pd.read_csv("C:/Users/Vitor Balbuglio/Documents/GitHub/PythonForFinance/Tickers.csv", index_col = 'Date')

In [36]:
mydata.head()

             EMBR3.SA   AZUL4.SA  MGLU3.SA   PETR4.SA   IRBR3.SA
Date
2019-01-02  21.540001  36.330002  5.645670  23.284782  24.319773
2019-01-03  21.900000  36.369999  5.585264  23.855774  24.033659
2019-01-04  20.799999  36.250000  5.415277  23.923517  23.765060
2019-01-07  21.230000  35.299999  5.499360  24.300953  24.004461
2019-01-08  21.360001  34.720001  5.455042  24.155783  24.232185